/* https://ux.andrewjordan.org/ */
   body {
    width: 100vw;
    height: 100vh;}

    header {
        height: 15vh;
    }

    main {
        height: 75vh;
    }

    footer {
        height: 5vh;
    }

    .nav {
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-font-weight: ;
        --bs-nav-link-color: #000000;
        --bs-nav-link-hover-color: #ff00b3;
        --bs-nav-link-disabled-color: rgba(158, 158, 158, 0.75);
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    #margen_negro_der{
        border-right: 1px solid rgb(0, 0, 0);
    }

    #fuentecolorfuerte {
        color: #ff00b3;
    }

    #fuentecolorclaro {
        color:rgb(200, 200, 200);
    }

    #textoderecha {
        text-align: right;
    }

    #textodetalle {
        color:rgb(200, 200, 200);
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: right;
        border-left: 5px solid #ff00b3;
    }

    #derecha {
        justify-items: end !important;
    }

    #artic_borde_abajo {
        padding-bottom: 1rem;
    }